<section class="card">
  <!-- TODO: Link the contents of the card to the product page using the products ID -->
  <a href="/product/{{id}}"></a>
  <!-- TODO: Create the card header with the product's name/title -->
  <header>{{name}}</header>
  <div class="card-body">
    <!-- TODO: Create the card body with the image of the product and the price -->
       <img src="/images/{{products.[0].filename}}" alt="{{products.[0].description}}">
  </a>
  </div>
</section>