{{#each projects as |project|}}
<div class="row align-center mb-5">
  <div class="col-md-6">
      <h2>{{name}}</h2>
    </div>
  <div class="col-md-6">
    <h3>{{description}}</h3>
    <h3>Amount Needed: ${{needed_funding}}</h3>
  </div>
</div>
{{/each}}